.btn{
    border: 1.8px solid var(--text-primary-color);
    background-color: transparent;
    color: var(--text-primary-color);
    padding: 8px 18px;
    border-radius: var(--border-radius);
    margin: 20px auto;
    font-weight: 700;
    font-size: 20px;
    transition: var(--main-transition);
    cursor: pointer;
}
.btn:hover{
    background-color: var(--text-third-color);
    color: #fff;
    border-color: #fff;
    box-shadow: var(--btn-shadow);
}