.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px #383535;
    padding: 0 40px;
    z-index: 1000;
    box-shadow: var(--card-shadow);
}


.links{
    display: flex;
    gap: 10px;
    font-weight: 600;
}
.link{
    transition: var(--main-transition);
}
.link:hover{
    color: var(--text-primary-color);
}

.toggle{
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    cursor: pointer;
}
.span{
    height: 3px;
    width: 100%;
    background-color: var(--text-primary-color);
}

.MobileLinks{
    display: none;
    flex-direction: column;
    width: 40%;
    position: absolute;
    bottom: -105px;
    right: 7%;
    backdrop-filter: blur(45px);
    z-index: 1000;
    background-color: #67bcdccc;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;
}

.MobileLink{
    padding-block: 5px;
    width: 100%;
    padding-left: 8px;
    transition: var(--main-transition);
}
.MobileLink:hover{
    background-color: var(--text-primary-color);
    padding-left: 12px;
    letter-spacing: 3px;
}
/* Mobile */
@media (max-width: 700px) {
    .toggle{
        display: flex;
    }
    .links{
        display: none;
    }
    .MobileLinks{
        display: none;
    }
}